@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    color: black;
    background-color: white;
}

label{
    font-size: small;
}
input{
    padding: 8px 0px;
    border: 1px solid lightgray;
}